.main
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 558px;
    height: 395px;
    left: 68px;
    top: 216px;
}

.para
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    width: 500px;
    height: 299px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.up
{
    width: 495px;
    height: 170px;
    text-align: left;
    /* H1 */
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 126%;
    /* or 71px */

    /* Text Primary */
    color: #181B32;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.down
{
    width: 317px;
    height: 68px;
    text-align: left;
    /* Body text - 18 */

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 190%;
    /* or 34px */


    /* Body text */

    color: #666680;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btnn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    gap: 10px;

    width: 120px;
    height: 10px;

    /* Primary 200 */

    background: #524FD5;
    border-radius: 73px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 372px;
}

.text
{
    width: 107px;
    height: 30px;

    /* Button */

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    /* Background - White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
