.main
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 550px;
    height: 36px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    left: 200px;
}

